body {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
}

.github-link img {
  width: 50px; /* Set the size of the icon */
  height: auto;
  margin-right: 5px; /* Space between icon and other elements */
}
